.jumbotron {
    background-color: rgb(20, 31, 54) !important;
    color: white;
    font-size: 40px;
    font-family: 'Lexend Peta', sans-serif;
    margin-top: 2%;
}

.row {
    margin-bottom: 2%;
}

.col-12 {
    background-color: white;
    height: 100%;
    border-radius: 5px;
    border: 2px light gray (20, 31, 54) solid;
    font-family: 'Hind Vadodara', sans-serif;
}


#topBar {
    background-color:lightblue (20, 31, 54);
    width: 100%;
    color: white;
    text-align: left;
}

#topBarStyle {
    padding: 1px 10px;
    margin-bottom: 0px;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 12px;
}

.form-container {
    padding-left: 10px;
    padding-top: 10px;
    width: 99%;
}

.table-container {
    width: 100%;
}

input[type=text] {
    border-radius: 4px;
    border: 1px rgb(150, 150, 150) solid;
    width: 100%;
}

#submit {
    background-color: rgb(20, 31, 54);
    border: none;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

@media only screen and (max-width: 470px) {
    form {
        font-size: 10px;
    }

    .table-container {
        font-size: 8px;
    }

    td {
        font-size: 10px;
    }

    body {
        padding-left: 5px;
        padding-right: 5px;
    }

    .jumbotron {
        font-size: 20px;
    }
}